## Code for country_series.csv

In [0]:
!pip install tika

In [0]:
from google.colab import drive, files
import os
import shutil
import pandas as pd
import time
from bs4 import BeautifulSoup
import urllib.request
from requests import get
from tika import parser
import numpy as np

In [0]:
drive.mount('/content/drive')

In [0]:
uploaded = files.upload()
!ls

### Scrape CPI 1995 - 2018 values

In [0]:
#CPIs stored in different formats for different years
#split into 4 partitions
#1995 - 1997
#1998 - 2009
#2010 - 2011
#2012 - 2018
#values are positioned differently for different pdfs or html so tweak the array indexing to obtain correct CPI values

def get_country_cpi(country): #country (String type)
  url_1996 = 'https://www.transparency.org/files/content/tool/1996_CPI_EN.pdf'
  url_1997 = 'https://www.transparency.org/files/content/tool/1997_CPI_EN.pdf'
  url_2010 = 'http://files.transparency.org/content/download/132/531/2010_CPI_EN.pdf'
  url_2011 = 'http://files.transparency.org/content/download/101/407/file/2011_CPI_EN.pdf'
  
  diff = 2009 - 1998 + 1
  years = [i+1998 for i in range(diff)]

  pdf_urls = [url_1996,url_1997,url_2010,url_2011]
  vals_1995_1997 = []
  lines = []

  #1996 - 1997
  for i in pdf_urls[:2]:
    for j in parser.from_file(i)['content'].strip('\n').split('\n'):
      if country in j:
        print(j)
        lines += [j]
      
  if not lines:
    return f'cant find {country} 1996'
  print("")

  tmp = lines[0].split()
  vals_1995_1997 += [tmp[3]]
  vals_1995_1997 += [tmp[2]]

  vals_1995_1997 += [lines[7].split()[2]]

  for i in range(len(vals_1995_1997)):
    vals_1995_1997[i] = round(float(vals_1995_1997[i].replace(',','.')) *10,1)
  print('for 1995-1997')
  print(vals_1995_1997)


  lines = []
  vals_2010_2011 = []

  for i in pdf_urls[2:]:
    for j in parser.from_file(i)['content'].strip('\n').split('\n'):
      if country in j:
        print(j)
        lines += [j]

  if not lines:
    return f'cant find {country} 2010'
  #2010 - 2011

  #australia
  vals_2010_2011 += [lines[0].split()[2]]
  vals_2010_2011 += [lines[2].split()[2]]


  for i in range(len(vals_2010_2011)):
    vals_2010_2011[i] = round(float(vals_2010_2011[i]) * 10,1)

  print('for 2010-2011')
  print(vals_2010_2011)


  #1998 - 2009
  vals_1998_2009 = []
  for i in years:
    response = get(f'https://www.transparency.org/research/cpi/cpi_{i}/0')
    soup = BeautifulSoup(response.text, 'html.parser')
    for j in soup.find_all('tr'):
      if country in j.text:
        print(j.text.split('\n'))
        #2002 - 2
        #if 2002 <= i <= 2005:
        if  i == 2005:
          vals_1998_2009 += [j.text.split('\n')[2]]
        #elif i == 2001 or i == 1999:
        #elif i == 2001 or i==2003 or i==2005:
          #vals_1998_2009 += [j.text.split('\n')[5]]
        else:
          vals_1998_2009 += [j.text.split('\n')[3]]

  if  not vals_1998_2009:
    return f'cannot find {country} for 1998'

  print('before 1998-2009') 
  print(vals_1998_2009)

  for i in range(len(vals_1998_2009)):
    vals_1998_2009[i] = round(float(vals_1998_2009[i]) * 10,1)

  print('after 1998-2009')
  print(vals_1998_2009)
  #2012 - 2018
  df = pd.read_csv('CPI_2012-2018.csv', header=0)
  df = df.fillna(method='ffill')

  index = list(df['Country']).index(country)
  vals_2012_2018 = list(df.iloc[index][1:])
  
  vals = vals_1995_1997 + vals_1998_2009 + vals_2010_2011 + vals_2012_2018
  return vals

### Build time series for a specific country

In [0]:
out = pd.DataFrame()
start  = time.time()
with os.scandir(f'drive/My Drive/CDS_project/data/NGA') as dir:
  for indicator in dir:
    #print(indicator.name)
    df = pd.read_csv(indicator, header=0, index_col=0)
    if not df.empty:
      #print('entered')
      if out.empty:
        #print('out is empty')
        out = df
      else:
        out = out.join(df)

end = time.time() - start
print(end)
out

266.08454632759094

            NGA_TM_TAX_MANF_BR_ZS  ...  NGA_TM_TAX_TCOM_BR_ZS
Date                               ...
1995-12-31                  68.44  ...                 146.76
1996-12-31                  67.44  ...                 146.82
1997-12-31                  67.44  ...                 146.82
1998-12-31                  67.44  ...                 146.82
1999-12-31                  67.44  ...                 146.82
2000-12-31                  67.44  ...                 146.82
2001-12-31                  67.44  ...                 146.82
2002-12-31                  67.44  ...                 146.82
2003-12-31                  67.44  ...                 146.82
2005-12-31                  64.57  ...                 146.85
2006-12-31                  64.57  ...                 146.85
2008-12-31                  64.57  ...                 146.85
2009-12-31                  59.84  ...                 146.91
2010-12-31                  59.84  ...                 146.91
2011-12-31                  59.84  ...                 146.91
2013-12-31                  59.84  ...                 146.91
2014-12-31                  59.84  ...                 146.91
2015-12-31                  60.44  ...                 146.82
2016-12-31                  60.44  ...                 146.82

[19 rows x 1019 columns]

In [0]:
a = get_country_cpi('Nigeria')

2019-12-03 16:14:19,942 [MainThread  ] [INFO ]  Retrieving https://www.transparency.org/files/content/tool/1996_CPI_EN.pdf to /tmp/files-content-tool-1996_cpi_en.pdf.
2019-12-03 16:14:21,066 [MainThread  ] [INFO ]  Retrieving https://www.transparency.org/files/content/tool/1997_CPI_EN.pdf to /tmp/files-content-tool-1997_cpi_en.pdf.

54 Nigeria 0,69  6,37 4
Is (e.g.) Nigeria the most corrupt country in the world?
No! Nigeria is perceived by business people to be the most corrupt country which has been
than Nigeria. Also the perception of corruption must not necessarily reflect the real level of
corruption a justifiable business in countries like Nigeria. Also in Nigeria corruption is sensed to
54 Nigeria 0,69 4 0,63 2 0,99 2

2019-12-03 16:14:21,832 [MainThread  ] [INFO ]  Retrieving http://files.transparency.org/content/download/132/531/2010_CPI_EN.pdf to /tmp/content-download-132-531-2010_cpi_en.pdf.

For the second year running, Nigeria has emerged in the lowest position and is thus perceived
52 Nigeria 1,76 0,69 4 0,16
Is (e.g.) Nigeria the most corrupt country in the world?
No! Nigeria is perceived by contributors to be the most corrupt in this ranking of 52
worse than Nigeria. Also the perception of corruption must not necessarily reflect the
points. This means that there is even stronger agreement that Nigeria scores lowest
included due to a lack of data. Nigeria is still bottom, and although its very low score

for 1995-1997
[63.7, 6.9, 17.6]

2019-12-03 16:14:23,776 [MainThread  ] [INFO ]  Retrieving http://files.transparency.org/content/download/101/407/file/2011_CPI_EN.pdf to /tmp/content-download-101-407-file-2011_cpi_en.pdf.

134 Nigeria 2.4
134 28 Nigeria 2.4 2.2 2.7 7
143 Nigeria 2.4
for 2010-2011
[24.0, 24.0]
['', '81', 'Nigeria', '1.9', '0.5', '5', '']
['', '98', 'Nigeria', '1.6', '0.8', '5', '']
['', '90', 'Nigeria', '1.2', '4', '0.6', '0.6 - 2.1', '']
['', '90', 'Nigeria', '1.0', '4', '0.9', '-0.1 - 2.0', '']
['', '101', 'Nigeria', '1.6', '6', '0.6', '', '0.9 - 2.5', '', '']
['', '132', 'Nigeria', '1.4', '9', '0.4', '0.9 - 2.0', '']
['', '144', 'Nigeria', '1.6', '1.4 - 1.8', '9', '']
['', 'Nigeria', '1.9', '1.7 - 2.0', '9', '']
['', '142', 'Nigeria', '2.2', '7', '2.0 - 2.3', '']
['', '147', 'Nigeria', '2.2', '8', '2.0 - 2.4', '']
['', '121', 'Nigeria', '2.7', '7', '2.3 - 3.0', '']
['', '130', 'Nigeria', '2.5', '7', '2.2 - 2.7', '']
before 1998-2009
['1.9', '1.6', '1.2', '1.0', '1.6', '1.4', '1.6', '1.9', '2.2', '2.2', '2.7', '2.5']
after 1998-2009
[19.0, 16.0, 12.0, 10.0, 16.0, 14.0, 16.0, 19.0, 22.0, 22.0, 27.0, 25.0]

### Combine CPI and indicators and output the time series as csv

In [0]:
out.index = pd.to_datetime(out.index)
out.index.year
common = np.intersect1d( years,out.index.year, assume_unique=True)
year_index = {years[i] : i for i in range(len(years))}
index_arr = [year_index[i] for i in common]
this_cpi = [a[i] for i in index_arr]
print(common)
this_cpi

In [0]:
out_new.to_csv('nga_series.csv')
shutil.copy('nga_series.csv', 'drive/My Drive/CDS_project/')